.findcontacts {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 350px;
    margin: 0 auto;
}
.textinput {
    margin-top: 15px;
    height: 35px;
    /* background-color: rgb(87, 198, 124); */
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}  
.title {
    align-content: left;
    font-size: 15px;
    margin-top: 15px;
    text-align: left;
    font-weight: 500;
} 
.label {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
  }
  
  .input {
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    /* margin-left: 16px; */
  }