.list {
    display: flex;
    align-items: center;
}
.inform {
    display: flex;
    flex-direction: column;
}
.contact {
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 9px;
    margin-left: 9px;
}
/* .buttondelete{
    margin-top: 7px;
    height: 30px;
    width: 70px;
    background-color: rgb(87, 198, 124);
    border-radius: 5px;
    padding: 3px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    border: 2px solid rgb(22, 107, 50);
} */