.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}
.error {
    color: red;
}
.title {
    align-content: left;
    font-size: 15px;
    margin-top: 15px;
    text-align: left;

}
.text {
    height: 25px;
    border-radius: 5px;
}
.button {
    margin-top: 35px;
    height: 35px;
    background-color: rgb(87, 198, 124);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(22, 107, 50);
}
.button:hover{
    background-color: rgb(22, 107, 50);
}
.buttontext{
    height: 15px;
    display: block;
}